force-app/main/default/flows/Close_lost_opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Advise</name>
        <label>Chatter Advise</label>
        <locationX>651</locationX>
        <locationY>317</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Chatterpost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Removed_approval_process</name>
        <label>Removed approval process</label>
        <locationX>426</locationX>
        <locationY>314</locationY>
        <actionName>CustomApprovalProcessRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Chatter_Advise</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Removed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <stringValue>Approval Process removed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Time_expired</name>
        <label>Time expired</label>
        <locationX>460</locationX>
        <locationY>42</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Maximum_Date_Analyse__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_lost</targetReference>
            </connector>
            <label>Expired</label>
        </rules>
    </decisions>
    <formulas>
        <name>CurrentDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>Expiredtime</name>
        <dataType>Boolean</dataType>
        <expression>{!$Flow.CurrentDate} &gt; {!$Record.Maximum_Date_Analyse__c}</expression>
    </formulas>
    <interviewLabel>Close lost opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close lost opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Close_lost</name>
        <label>Close lost</label>
        <locationX>669</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Removed_approval_process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Time_expired</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 OR 4 )</filterLogic>
        <filters>
            <field>Maximum_Date_Analyse__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Needs Analysis</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-05-27</startDate>
            <startTime>07:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Chatterpost</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The&lt;b&gt; {!$Record.Name}&lt;/b&gt; was change to&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Close lost&lt;/b&gt; because the time of analysis was expired!&lt;/p&gt;</text>
    </textTemplates>
</Flow>
